/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    .admin-container{
         position: absolute;
        top: 120px;
    }
.admin-container .projects-container{
		  background-color: #262255;
    border-radius: 75px;
    float: left;
    height: auto;
    left: 1%;
    position: absolute;
    width: 25%;
    color:white;
}

.admin-container .practise-container{
	  background-color: #262255;
    border-radius: 75px;
    float: right;
    position: absolute;
    right: 46%;
    top: 48%;
    width: 28%;
    color:white;
}

.practise-section{
 margin-left: 30px;
}


.projects-section{
 margin-left: 30px;
}

.admin-container .employee-container{
  background-color: #262255;
    border-radius: 70px;
    left: 55%;
    position: relative;
    width: 40%;
    color:white;
}
.employee-section{
	margin-left:40px;
}
.employee-section div{
	padding:5px;
}
.project-form,.practise-form,.employee-section input{
	color:black;
    margin:5px;
}

.admin-container h4{
    color:white;
}
}
@media (max-width: 48em) {
.admin-container {
    position: relative;
    top: 70px;
}
}