<div class="pure-u-1 admin-container">
            <h2 style="text-align:center;">Admin Page</h2>
        <div class="projects-container">
            <h4 style="text-align:center;">Projects</h4>
            <div ng-if="IsProjectsLoading"> Loading....</div>
            <div ng-if="IsProjectsLoading == false" class="projects-section">
                <div class="project-form">
                    <input type="text" placeholder="Project Name" ng-model="NewProject.Name"/>
                    <input type="button" value=" Add Project " ng-click="addItem('PROJECT', NewProject)"/>
                </div>
                <ul>
                    <li ng-repeat="project in Projects">
                        {{ project.Name}} <a href="" ng-click="deleteItem('PROJECT', project)">Delete</a>
                    </li>
                </ul>
            </div>
        </div>
    
    <div class="practise-container">
        <h4 style="text-align:center;">Practises</h4>
        <div ng-if="IsPractiseLoading"> Loading....</div>
        <div ng-if="IsPractiseLoading == false" class="practise-section">
            <div class="practise-form">
                <input type="text" placeholder="Practise Name" ng-model="NewPractise.PName"/>
               <!--  <input type="text" placeholder="Practise Lead" ng-model="NewPractise.Lead"/> -->
                <input type="button" value=" Add Practise " ng-click="addItem('PRACTISE', NewPractise)" />
            </div>
            <ul >
                <li ng-repeat="practise in Practises">
                    {{ practise.PName}}
                    <a href="" ng-click="deleteItem('PRACTISE', practise)">Delete</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="employee-container">
        <h4 style="text-align:center;">Employee Registration</h4>
        <div ng-if="IsEmployeeLoading"> Loading....</div>
        <div ng-if="IsEmployeeLoading == false" class="employee-section">
                <div>
                    FirstName:<input type="text" placeholder="First Name" ng-model="NewEmployee.FName" />
                </div>
                <div>
                     LastName:<input type="text" placeholder="Last Name" ng-model="NewEmployee.LName"/>
                </div>
                <div>
                     UserName:<input type="text" placeholder="User Name" ng-model="NewEmployee.Username" />
                </div>
                <div>
                    Password:<input type="text" placeholder="Password" ng-model="NewEmployee.Password" />
                </div>
                <div>
                    ConfirmPassword:<input type="text" placeholder="Confirm Password" ng-model="NewEmployee.ConfirmPassword"  />
                </div>
                <div>
                    EmailID:<input type="text" placeholder="Email Id" ng-model="NewEmployee.EmailId" />
                </div>
                <div>
                    UserType:
                    <select ng-model="NewEmployee.UserType">
                        <option value="USER">User</option>
                        <option value="ADMIN">Admin</option>
                    </select>
                </div>
            <div>
                <input type="button" value=" Add Employee " ng-click="addItem('EMPLOYEE', NewEmployee)" />
            </div>
            <ul>
                <li ng-repeat="employee in Employees">
                   <b>USERNAME:</b> {{ employee.Username}} <b>USERTYPE:</b>{{ employee.UserType}}
                    <a href="" ng-click="deleteItem('EMPLOYEE', employee)">Delete</a>
                </li>
            </ul>
        </div>

    </div>
</div>