<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-5">
       <side-nav page-type="{{pageType}}"></side-nav>
  </div>
    </div>

    <div class="blog-content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="blog-content-subhead">Blog Posts</h1>

                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">
                        <img class="post-avatar" alt="Tilo Mitra" height="70" width="70" src="images/icon1.png">

                        <h2 class="post-title">Progressive Web Apps: The Affordable Alternative for Building Mobile Apps</h2>

                        <p class="post-meta">
                            On <a href="#" class="post-author">Feb 17, 2016</a> Category :   <a class="post-category post-category-design" href="#"> Web & Mobile Development </a>  
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                            Though creating a multi-OS mobile-app version of your website has advantages, maintaining code for multiple platforms is costly. This popular new alternative, called the progressive web app, provides relief.
                        </p>
                    </div>
                </section>
            </div>

            <div class="posts">
                <h1 class="blog-content-subhead">Recent Posts</h1>

                <section class="post">
                    <header class="post-header">
                       <img class="post-avatar" alt="Tilo Mitra" height="70" width="70" src="images/icon2.png">

                        <h2 class="post-title">200+ New Features Make Life Easier for Drupal 8 Users</h2>

                        <p class="post-meta">
                            On <a class="post-author" href="#">FEB 15, 2016</a> Category : <a class="post-category post-category-js" href="#">Web Content Management, Drupal</a>
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                           When Drupal 8 launched last fall, it corrected issues that challenged users in previous releases. In this post, we review the platform’s top five upgrades, and offer tips for a smoother migration.
                        </p>
                    </div>
                </section>

                <section class="post">
                    <header class="post-header">
                       <img class="post-avatar" alt="Tilo Mitra" height="70" width="70" src="images/icon3.png">

                        <h2 class="post-title">Promotional Marketing: How to Blend the Physical and Digital World</h2>

                        <p class="post-meta">
                            On <a class="post-author" href="#">JAN 21, 2016</a> Category: <a class="post-category post-category-yui" href="#">Web Content Management, Sitecore</a>
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                            Learn how an integrated technology solution can help blend leading technologies like CMS, ecommerce and marketing automation platforms to bring coherence to both the digital and physical shopping experience.
                        </p>
                    </div>
                </section>
            </div>

             
        </div>
    </div>
    
  