<div class="document-container">
    <div class="sidebar">
        <side-nav page-type="{{pageType}}"></side-nav>
    </div>
    <input type="file" file-model="myFile" file-on-change="uploadFiles" style="margin-top:150px;"/>
    <!--  <button ng-click="saveFiles()">upload me</button> -->
    <div class="document-section">
        <ul>
            <li ng-repeat="doc in Documents" ng-if="doc.Category == pageType">
                {{ doc.Name }}
                <a href="" ng-click="deleteDocument(doc)">Delete</a>
                 <a href="" ng-click="downloadDocument(doc)">Download</a>
            </li>
        </ul>  

        <!-- <table style="width:100%">
          <tr ng-repeat="doc in Documents" ng-if="doc.Category == pageType">
            <td>{{ doc.Name }}
            <a href="" ng-click="deleteDocument(doc)">Delete</a> 
            <a href="" ng-click="downloadDocument(doc)">Download</a> </td>
          </tr>
        </table> -->
    </div>
</div>