 <div id="layout" class="practise-list-container pure-g">
    <div class="sidebar">
       <side-nav page-type="{{pageType}}"></side-nav>
    </div>
    <div class="practise-details pure-u-1">
        <div class="announcement-section">
            <h2>Announcements about {{PractiseName.toUpperCase()}}</h2>
            <img src="../images/humana-logo.jpg" alt="Humana logo" style="width:100%;height:140px;"/>
        </div>
        <div class="task-section">
            <h3>Tasks</h3>
            <div><p>Maecenas vel tellus eget lectus viverra varius vel sit amet sapien. Curabitur eu posuere nisl, eu pulvinar nisl. Integer bibendum ligula eu porttitor tincidunt! Suspendisse potenti. Nullam vitae elit orci. Suspendisse sed arcu tincidunt, rutrum leo nec, sagittis metus. Duis ullamcorper dignissim aliquam. Praesent accumsan tincidunt diam.</p></div>
            <!-- <div style="width:200px;height:200px;background-color:red;float:left;margin:50px;">What we do</div>
            <div style="width:200px;height:200px;background-color:red;float:left;margin:50px;">Why choose us</div> -->
        </div>
        <div class="calendar-details">
            <h3>Calendar</h3>
            <div>
               <iframe src="https://calendar.google.com/calendar/embed?src=en.indian%23holiday%40group.v.calendar.google.com&ctz=Asia/Calcutta" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>  
            </div>
                         
        </div>
         
        <div class="link-section">
        <h3>Links</h3>
             <a href="https://www.google.com">Click here for a glance of sites we developed...</a> 
        </div>
    </div>
 </div> 