<div id="layout" class="project-list-container pure-g">
    <div class="sidebar">
       <side-nav page-type="{{pageType}}"></side-nav>
    </div>
    <div class="project-details pure-u-1">
        <div class="banner-section">
            <h2>Welcome to our {{ProjectName.toUpperCase()}}</h2>
            <img src="../images/humana-logo.jpg" alt="Humana logo" style="width:100%;height:140px;"/>
        </div>
        <div class="aboutus-section">
            <h3>AboutUS</h3>
            <div><p>Maecenas vel tellus eget lectus viverra varius vel sit amet sapien. Curabitur eu posuere nisl, eu pulvinar nisl. Integer bibendum ligula eu porttitor tincidunt! Suspendisse potenti. Nullam vitae elit orci. Suspendisse sed arcu tincidunt, rutrum leo nec, sagittis metus. Duis ullamcorper dignissim aliquam. Praesent accumsan tincidunt diam.</p></div>
            <!-- <div style="width:200px;height:200px;background-color:red;float:left;margin:50px;">What we do</div>
            <div style="width:200px;height:200px;background-color:red;float:left;margin:50px;">Why choose us</div> -->
        </div>
        <div class="team-details">
            <h3>Meet the TEAM!!</h3>
             <div class="team-mates"><a href=""><img src="/images/group1.jpg" alt="group1"/></a></div>
            <div class="team-mates"><a href=""><img src="/images/group2.jpeg" alt="group1"/></a></div>
            <div class="team-mates"><a href=""><img src="/images/group3.jpg" alt="group1"/></a></div>
            <div class="team-mates"><a href=""><img src="/images/group4.jpg" alt="group1"/></a></div>
            <div class="team-mates"><a href=""><img src="/images/group5.jpg" alt="group1"/></a></div>
            <div class="team-mates"><a href=""><img src="/images/group6.jpg" alt="group1"/></a></div>
             
        </div>
         <div class="tech-details">
            <h3>Technologies we use...</h3>
             <div class="tech-content"><a href="https://msdn.microsoft.com/en-us/library/dd381412(v=vs.108).aspx"><img src="/images/mvc.png" alt="group1"/>MVC .NET</div>
             <div class="tech-content"><a href="http://requirejs.org/"><img src="/images/requirejs.png" alt="group1"/>Weld JS</div>
            <div class="tech-content"><a href=""><img src="/images/less.png" alt="group1"/>LESS</div> 
            <div class="tech-content"><a href="http://www.sitecore.net"><img src="/images/sitecore.png" alt="group1"/>Sitecore</div> 
        </div>
         <div class="info-section">
             <a href="https://www.humana.com">Click here for a glance of sites we developed...</a> 
        </div>
    </div>
 </div>
 
